* {
    box-sizing: border-box;
}

a {
    color: #000000;
    text-decoration: none;
    display: inline-block;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #4a6385;
    font-size: 14px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    border-top: 1px #216bcc solid;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 87px;
}

.menu__list {
    display: flex;
}

.menu__list li {
    margin-left: 38px;
}

.menu__list a {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2f3f54;
}


/* Супермэн */

.top {
    background-color: #267ae9;
    padding-top: 150px;
    padding-bottom: 180px;
    background-image: url("/images/fon.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
}

.top-inner {
    display: flex;
}

.top-info {
    min-width: 555px;
    margin-right: 35px;
    color: #fff;
}

.top-info__title {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 52px;
    text-transform: uppercase;
}

.top-info__descr {
    font-size: 19px;
    line-height: 52px;
    font-weight: 700;
    margin-bottom: 35px;
}

.top-info__descr span {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    display: block;
}

.top-info__list {
    list-style: none;
    margin-bottom: 50px;
}

.top-info__list li {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 3px;
    position: relative;
    padding-left: 24px;
}

.top-info__list li::before {
    content: "";
    background-image: url(/images/icons/cat.png);
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.top-info__btn {
    color: #fff;
    text-transform: uppercase;
    border: 3px #fff solid;
    padding: 13px 44px;
    border-radius: 30px;
    margin-bottom: 15px;
}

.top-images__box {
    position: relative;
}

.top-images__circle {
    width: 230px;
    height: 230px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #212121;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    top: -40px;
    right: -110px;
}

.top-images__title {
    margin-bottom: 10px;
    text-align: left;
    width: 140px;
}

.top-images__price {
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 5px;
}

.top-images__data {
    text-align: right;
    width: 140px;
}


/* Цена */

.price {
    padding: 150px 0 180px;
}

.title {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: #2f3f54;
}

.title span {
    color: #2575e7;
}

.price__descr {
    text-align: center;
    max-width: 594px;
    margin: 35px auto 125px;
}

.price__descr span {
    color: #42d6c1;
}

.price__descr a {
    color: #e74c3c;
}

.price__items {
    display: flex;
    justify-content: space-between;
}

.price-item {
    max-width: 360px;
    box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
    border-radius: 2px 2px 0px 0px;
    padding: 0 50px 60px;
    position: relative;
    overflow: hidden;
}

.price-item__number {
    width: 265px;
    height: 465px;
    color: #fff;
    background-color: #267ae9;
    border-radius: 136px;
    position: absolute;
    top: -370px;
    font-family: "Roboto", sans-serif;
    font-size: 32.9px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.04em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 40px;
}

.price-item__number span:last-child {
    font-size: 16px;
    margin-bottom: -5px;
}

.price-item__number span:first-child {
    font-size: 22.7px;
    margin-bottom: -4px;
}

.price-item__images {
    padding-top: 120px;
    text-align: center;
    margin-bottom: 30px;
}

.price-item__images img {
    min-height: 86px;
    object-fit: scale-down;
}

.price-item__title {
    margin-bottom: 25px;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    color: #267ae9;
}

.price-item__text {
    margin-bottom: 50px;
}

.price-item__list {
    margin-bottom: 75px;
    list-style: none;
}

.price-item__list li {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding-left: 36px;
    position: relative;
}

.price-item__list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(/images/icons/icon3.png);
    width: 16px;
    height: 16px;
}

.price-item__btn {
    font-size: 17px;
    color: #fff;
    background-color: #267ae9;
    font-family: "Roboto", sans-serif;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 10px;
}


/* Ревью */

.reviews {
    padding: 120px 0;
    background-color: #fafafa;
}

.reviews-slider {
    margin-top: 160px;
}

.reviews-slider .slick-list {
    margin: 0 -50px;
}

.reviews-slider .slick-slide {
    margin: 0 50px;
    padding-bottom: 70px;
}

.reviews-slider .slick-dots {
    list-style: none;
    display: flex;
    justify-content: center;
}

.reviews-slider .slick-dots li {
    margin: 0 8px;
}

.reviews-slider .slick-dots li.slick-active button {
    background-color: #fff;
    border: 2px solid #267ae9;
}

.reviews-slider .slick-dots button {
    list-style: none;
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 0;
    border: none;
    background-color: #267ae9;
    outline: none;
}

.reviews-box {
    display: flex;
    box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
}

.reviews-box__images {
    background-color: #267ae9;
    width: 190px;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviews-box__images img {
    border-radius: 50%;
}

.reviews-box__content {
    background-color: #fff;
    width: 330px;
    font-size: 16px;
    line-height: 26px;
    padding: 0 40px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reviews-box__text {
    margin-bottom: 30px;
}

.reviews-box__author span {
    color: #267ae9;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}


/* Спонсоры */

.sponsors {}

.sponsors__images {
    text-align: center;
    padding: 200px 0 80px;
}

.sponsors__images img {
    min-height: 97px;
    object-fit: cover;
}


/* Футер */

.footer {
    background-color: #334357;
    padding: 80px 0 125px;
    color: #718db2;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer-menu {
    width: 165px;
}

.footer-form {
    width: 263px;
}

.footer-form input,
.footer-form textarea {
    border: 1px solid rgba(255, 255, 255, 0.05);
    background-color: transparent;
    height: 38px;
    display: block;
    width: 100%;
    padding: 0 12px;
    color: #718db2;
    font-size: 11px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
}

.footer-form input::placeholder,
.footer-form textarea::placeholder {
    color: #718db2;
    font-size: 11px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
}

.footer-form textarea {
    padding: 12px;
    height: 85px;
    resize: none;
    margin-bottom: 10px;
}

.footer-form button {
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    border: none;
    background-color: #2575e7;
    padding: 10px;
    cursor: pointer;
}

.footer-col__logo {
    width: 263px;
}

.footer__logo {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.footer__logo span {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #d0e4ff;
    padding-left: 9px;
}

.footer__text {
    font-size: 13px;
    line-height: 22px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.footer__title {
    font-family: "Roboto", sans-serif;
    color: #d0e4ff;
    font-size: 16px;
    margin-bottom: 30px;
}

.footer__list {
    list-style: none;
}

.footer__list a {
    font-size: 13px;
    margin-bottom: 8px;
    color: #718db2;
}